doctype html
html(lang='en')
  head

    title= i18n('appName')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    script(type='text/javascript', src='/scripts/modernizr.js')
    link(href='/styles/app.css', rel='stylesheet', type='text/css')
    block styles

  body
    nav(class='top-bar', data-topbar)
      ul(class='title-area')
        li(class='name')
          h1
            a(href='./')= i18n('appName')

    block body

    script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/vendor/jquery.serializejson/jquery.serializejson.min.js')
    script(type='text/javascript', src='/vendor/fastclick/lib/fastclick.js')
    script(type='text/javascript', src='/vendor/foundation/js/foundation.js')
    script(type='text/javascript', src='/scripts/sails.io.js')
    script(type='text/javascript', src='/scripts/app.js')

    block scripts