extends ../layout

block styles
	link(href='/styles/leaflet.css', rel='stylesheet', type='text/css')

block body
	#nav
		if collection.sessions.length > 0
			ul
				each val, ind in collection.sessions
					li= val.title
		else
			p.noData= i18n('noData')
	#map

block scripts
	script(type='text/javascript', src='/scripts/leaflet.js')
	script(type='text/javascript', src='/scripts/map.js')