@import "settings";
@import "vendor/foundation/scss/foundation";

body {
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

footer {
	font-size: rem-calc(10);
}

label.error {
	display: none;
	font-size: rem-calc(10);
}

label {
	margin-bottom: rem-calc(10);
}

tbody tr:hover, tbody tr:nth-of-type(even):hover {
	background-color: #444;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

table .button {
	margin: 0;
}

th.actions {
	width: 180px;
	text-align: center;
	li {
		text-align: center;
	}
}

#nav {
	position: absolute;
	height: auto !important;
	background-color: #000;
	margin-top: $topbar-height;
	padding: 1em 0 1em 0;
	top: 0;
	bottom: 0;
	width: 250px;
	overflow: hidden;
}

#map {
	position: absolute;
	height: auto !important;
	margin-top: $topbar-height;
	margin-left: 250px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
}

.item-list li {
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-ms-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

.item-list li.active {
	font-weight: bold;
}

.fullwidth {
	width: 100%;
}