@import "settings";
@import "vendor/foundation/scss/foundation";

* {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

footer {
	position: absolute;
	font-size: rem-calc(10);
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: rem-calc(8) 0 rem-calc(8) 0;
	margin-top: rem-calc(8);
	color: #ccc;
	background-color: $topbar-bg-color;
}

label.error {
	display: none;
	font-size: rem-calc(10);
}

label {
	margin-bottom: rem-calc(10);
}

tbody tr:hover, tbody tr:nth-of-type(even):hover {
	background-color: #444;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

table .button {
	margin: 0;
}

th.actions {
	width: 160px;
	text-align: center;
	li {
		text-align: center;
	}
}

#status {
	float: left;
	padding: 4px 7px 0 0;
}

#nav {
	position: absolute;
	height: auto !important;
	background-color: #333;
	margin-top: $topbar-height;
	top: 0;
	bottom: 0;
	width: 250px;
	overflow: hidden;
	padding: rem-calc(10) 0 0 0;

	* {
		font-size: rem-calc(12);
	}

	p {
		text-align: center;
	}
}

#map {
	position: absolute;
	height: auto !important;
	width: auto;
	margin-top: $topbar-height;
	margin-left: 250px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.item-list li {
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-ms-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

.item-list li.active {
	font-weight: bold;
}

.fullwidth {
	width: 100%;
}